body {
    font-family: sans-serif;
    color: #020202;
}
p {
    margin-bottom: 2em;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4em auto;
    margin: 0 auto; 
    width: 80em;
    margin-right: 20em;
    margin-top: 4em;
}
.left {
    grid-column-start: 1;
    grid-column-end: 2;
    writing-mode: vertical-rl;
    text-orientation: upright;
    float:left;
}

.menu{
    height:9.5em;
    margin-top:1.5em;
    display: grid;
    grid-template-columns: 10em 10em 10em 10em 10em;
    grid-column-gap: 4em;
}
.item{
    width: 10em;
}
#right {
    float:right;
    width:10em;
}
.menu ul{
    list-style-type: none;
    padding-left:0;
}
.menu ul li span{
    float: right;
}
.menu h4{
    margin: 0;
}

img {
    box-shadow:0px 2px 3px 0px rgba(0,0,0,0.2);

    padding-top: 0em;
    max-width: 100%;
}